@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  /* Body font default */
  body {
    font-family: 'Montserrat', sans-serif;
  }

  /* Header font class */
  .font-header {
    font-family: 'Bebas Neue', sans-serif;
  }

}
